/* Small Mobile (up to iPhone SE) */
@media (max-width: 320px) {
    #hero-about {
        height: 35vh;
    }


    .hero-overlay {
        height: 65vh;
    }

    .written-img img {
        width: 100%;
    }

    .lines-img {
        position: absolute !important;
        top: 0;
        opacity: 0.2;
    }

    .lines-img img {
        position: absolute;
        right: 0;
        height: 65vh;
    }

    /* about */

    #about-page-content .title {
        font-size: 25px;
    }

    #about-page-content .founder {
        width: 100%;
        height: auto;
    }

    #about-page-content .person-info .name,
    .person-info-round .name {
        font-size: 5vw;
    }
}

/* Mobile Portrait */
@media (min-width: 321px) and (max-width: 480px) {
    #about-page-content .title {
        font-size: 25px;
    }

    #hero-about {
        height: 35vh;
    }

    .hero-overlay {
        height: 65vh;
    }

    .written-img img {
        width: 100%;
    }

    .lines-img {
        position: absolute !important;
        top: 0;
        opacity: 0.2;
    }

    .lines-img img {
        position: absolute;
        right: 0;
        height: 65vh;
    }
}

/* Mobile Landscape / Larger Phones */
@media (min-width: 481px) and (max-width: 767px) {
    #hero-about {
        height: 45vh;
    }

    .hero-overlay {
        height: 65vh;
    }

    .written-img img {
        width: 90%;
    }

    .lines-img {
        position: absolute !important;
        top: 0;
        opacity: 0.2;
    }

    .lines-img img {
        position: absolute;
        right: 0;
        height: 65vh;
    }

}


/* Small Tablets / Large Phones (Portrait) */
@media (min-width: 768px) and (max-width: 991px) {
    #hero-about {
        height: 50vh;
        position: relative;
    }

    .lines-img img {
        height: 60vh;
    }

    .hero-overlay {
        height: 60vh;
    }

    .written-img img {
        width: 100%;
    }
}

/* Large Tablets (Landscape) */
@media (min-width: 992px) and (max-width: 1199px) {
    #hero-about {
        height: 60vh;
        position: relative;
    }

    .lines-img img {
        height: 70vh;
    }

    .hero-overlay {
        height: 70vh;
    }
}

/* Small Desktop */
@media (min-width: 1200px) and (max-width: 1439px) {}

/* Standard Desktop */
@media (min-width: 1440px) and (max-width: 1920px) {}

/* Large / 4K Screens */
@media (min-width: 1921px) {}



/* Extra Small: <576px
@media (max-width: 575.98px) {}

/* Small: ≥576px */
/* @media (min-width: 576px) and (max-width: 767.98px) {} */

/* Medium: ≥768px */
/* @media (min-width: 768px) and (max-width: 991.98px) {} */

/* Large: ≥992px */
/* @media (min-width: 992px) and (max-width: 1199.98px) {} */

/* Extra Large: ≥1200px */
/* @media (min-width: 1200px) and (max-width: 1399.98px) {} */

/* XXL: ≥1400px */
/* @media (min-width: 1400px) {} */