@font-face {
    font-family: "Lato-Regular";
    src: url("../../assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-bold";
    src: url("../../assets/fonts/Lato-Bold.ttf");
}

:root {
    --primary: #2f98d0;
    /* Blue */
    --primary2: #47ade3;
    --secondary: #8dc74b;
    /* Green */
    --success: #4caf50;
    /* Green */
    --danger: #f44336;
    /* Red */
    --warning: #ffc107;
    /* Amber */
    --info: #00bcd4;
    /* Cyan */
    --light: #f8f9fa;
    /* Light gray */
    --dark: #343a40;
    /* Dark gray */
    --white: #ffffff;
    --black: #000000;
    --gray: #6c757d;
    --background: #f5f5f5;
    --textColor: #828282;
    --titleColor: #354158;
}

#about-header {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

#about-header #header {
    background: transparent;
    backdrop-filter: none;
}

#about-header .logo {
    width: auto;
    z-index: 1;
    position: relative;
    height: 2vw;
}

#hero-about {
    height: 70vh;
    position: relative;
}

.hero-overlay {
    background: linear-gradient(#fff, #7dc6d34f, #ffffff00);
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
}

#hero-about .row {
    height: 100%;
}

.written-img {
    z-index: 1;
}


.written-img img {
    width: 80%;
}

.lines-img img {
    position: absolute;
    right: 0;
    height: 80vh;
    object-fit: cover;
}

#about-page-content {
    height: 240vh;
    margin-top: 10vh;
    position: relative;
}

#about-page-content .title {
    font-size: 60px;
}


#about-page-content .content-width {
    width: 90%;
}

#about-page-content .founder {
    width: 30vw;
    height: 40vw;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid var(--secondary);
}


#utility-experts {
    height: 54vw;
    width: 54vw;
    border-radius: 50%;
    margin-top: -28vh;
    margin-left: -10vw;
    border: 1px solid var(--primary);
    position: relative;
    /* z-index: 4; */
}

#utility-experts .content-width {
    margin: 12vw;
    margin-right: 6vw;
    width: 67%;
    z-index: 0;
    position: relative;
}


#utility-experts .title {
    text-transform: capitalize;
    font-size: 65px;
    line-height: 1.3;
}

#utility-experts .long-content {
    font-weight: 400;
    font-size: 1.5vw;
    margin-bottom: 3vw;
    color: var(--black);
}


#utility-experts #features {
    background-color: #ffffff;
    margin-top: -12vw;
}



#utility-experts #features p {
    border-bottom: 1px solid var(--primary);
    width: 100%;
    padding: 1vw 15vw;
    margin-bottom: 0;
    text-align: center;
}



#video-section {
    height: 54vw;
    width: 54vw;
    border-radius: 50%;
    margin-top: -12vh;
    border: 1px solid var(--primary);
    position: absolute;
    right: 12vw;
    background: #fff;
    top: 134vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.outer-video-img {
    width: 35vw;
    height: auto;
}

.inner-video-img {
    position: absolute;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    object-fit: cover;
}

#play-btn {
    position: absolute;
}

#play-btn svg {
    color: #216ba5ba;
    font-size: 5vw;
}

#about-page-content .person-info .name,
#about-page-content .person-info .designation {
    margin-right: 13vw;
}

#features2 {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 10vw;
    z-index: 4;
    top: 70vh;
    padding-bottom: 0;
}

#features2 .supplier-card {
    background-color: white;
    box-shadow: 0px 0px 10px 8px #f2f2f291;
    width: 210px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#features2 .supplier-label {
    font-size: 13px;
}

#features2 .supplier-percentage {
    color: var(--secondary);
    font-size: 35px;
    line-height: 1;
}


#features3 {
    background-color: #ffffff;
    position: absolute;
    height: 56vh;
    z-index: 3;
    width: 40%;
    left: 45vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#features3 div {
    width: 55%;
}

#features3 .title {
    text-transform: none;
    margin: 0;
    font-size: 50px;
}

#features3 p {
    font-size: 10px;
}


#shape {
    position: absolute;
    top: 122.4vh;
    height: 205px;
    width: auto;
    left: 39.8vw;
    z-index: 3;
}


#partnership {
    height: 80vh;
    background-image: url('../../assets/about/6.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



#partnership .circle {
    width: 51vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: -19vh;
}

#partnership .circle svg {
    width: 100%;
    height: 100%;
}

#partnership .content-width {
    width: 30%;
    z-index: 4;
    margin-right: 6vw;
}

.text-blue {
    color: var(--primary);
    font-size: 14px;
    font-family: "Lato-Bold";
}



#csr {
    height: 80vh;
    background-image: url('../../assets/about/7.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#csr .circle {
    width: 51vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: -19vh;
}

#csr .circle svg {
    width: 100%;
    height: 100%;
}

#csr .content-width {
    width: 30%;
    z-index: 4;
    margin-right: 6vw;
}

.text-blue {
    color: var(--primary);
    font-size: 14px;
    font-family: "Lato-Bold";
}