@font-face {
  font-family: "Lato-Regular";
  src: url("../../assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-bold";
  src: url("../../assets/fonts/Lato-Bold.ttf");
}

:root {
  --primary: #2f98d0;
  /* Blue */
  --primary2: #47ade3;
  --secondary: #8dc74b;
  /* Green */
  --success: #4caf50;
  /* Green */
  --danger: #f44336;
  /* Red */
  --warning: #ffc107;
  /* Amber */
  --info: #00bcd4;
  /* Cyan */
  --light: #f8f9fa;
  /* Light gray */
  --dark: #343a40;
  /* Dark gray */
  --white: #ffffff;
  --black: #000000;
  --gray: #6c757d;
  --background: #f5f5f5;
  --textColor: #828282;
  --titleColor: #354158;
}

.contact-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-blur {
  background-color: rgb(234 234 234 / 81%);
  backdrop-filter: blur(13px) !important;
}

.model-header-title-width {
  width: 60%;
}


.image-checkbox-label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.75rem 1rem;
  font-weight: 500;
  border-radius: 8px;
}

.image-checkbox-label input {
  display: none;
  /* hide the native checkbox */
}

.checkbox-image {
  width: 28px;
  height: 28px;
  border: 2px solid #555;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
  transition: all 0.3s ease;
}

.checkbox-image.checked {
  background-image: url('../../assets/insights/check.png');
  background-color: #fff0;
  border-color: #fff0;
}


.form-height-modal {
  height: 100%;
  overflow-y: scroll;

}

.text-vertical-box {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  width: 0;
}

.text-vertical-box img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.vertical-text {
  white-space: nowrap;
  margin-top: 1rem;
}


.contact-backdrop .form-height-modal .connect .box-title {
  margin-bottom: 0 !important;
}

.contact-backdrop .form-height-modal .connect .long-content {
  font-size: 0.8vw;
  color: var(--titleColor);
}


.contact-time-text {
  color: var(--textColor);
  font-weight: 600;
  font-size: 1rem;
}



/* Removes outer border and makes it full width */
.custom-datepicker {
  border: none !important;
  width: 100% !important;
  background-color: transparent !important;
}


.custom-datepicker .react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 3vw !important;
  line-height: 2.7vw !important;
}


.custom-datepicker .react-datepicker__navigation--previous {
  /* background-color: var(--primary) !important; */
  /* border-radius: 20px !important; */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  left: 5vw !important;
}

.custom-datepicker .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 17vw !important;
}

.custom-datepicker .react-datepicker__navigation--next {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


.custom-datepicker .react-datepicker__navigation-icon {
  left: 0 !important;
  top: 0 !important;
}

/* Optional: remove box-shadow */
.custom-datepicker .react-datepicker {
  box-shadow: none;
}

/* Remove background from calendar header */
.custom-datepicker .react-datepicker__header {
  background-color: transparent;
  border-bottom: none;
}

/* Optional: adjust padding or font if needed */
.custom-datepicker .react-datepicker__current-month,
.custom-datepicker .react-datepicker-time__header {
  font-weight: 600;
  color: #000;
  padding-bottom: 10px;
}


/* Style each time slot */
.custom-datepicker .react-datepicker__time-list-item {
  border: 1px solid #0d6efd;
  /* Bootstrap primary blue */
  border-radius: 8px;
  padding: 6px 12px;
  color: #0d6efd;
  margin-bottom: 4px;
  transition: background-color 0.2s ease;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 16px !important;
  width: 130px !important;
  margin-bottom: 5px !important;
  height: 30px !important;
}

/* Highlight selected time slot */
.custom-datepicker .react-datepicker__time-list-item--selected {
  background-color: #e7f1ff;
  color: #0d6efd;
  font-weight: 600;
}

/* Optional: on hover */
.custom-datepicker .react-datepicker__time-list-item:hover {
  background-color: #f0f8ff;
}


.custom-datepicker .react-datepicker__time-container {
  border: none !important;
  width: 145px !important;
}



.custom-datepicker .react-datepicker__month-container {
  float: left;
  width: 70% !important;
}


.custom-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 150px;
}


.custom-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  height: 340px !important;
}

.custom-datepicker .react-datepicker__time-container .react-datepicker__time {
  background-color: transparent !important;
}


#contact-selected-slot-details .contact-time-text {
  font-weight: 500;
  color: #000;
}

#contact-selected-slot-details .long-content {
  font-size: 0.7rem;
}


.clockIcon,
.calendarIcon,
.globalIcon,
.videoIcon {
  font-size: 1vw;
}


.form-check-input {
  accent-color: #0d6efd;
  /* Bootstrap primary blue */
}

textarea.form-control {
  resize: vertical;
  border-radius: 8px;
}


.success-messege {
  width: 60%;
}

.newsletter {
  width: 40%;

  border: 1px solid var(--primary);
  border-radius: 30px;
}

.newsletter input {
  border: none;
  background-color: transparent;
}

.newsletterIcon {
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary);
  cursor: pointer;
  position: absolute;
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .contact-time-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .custom-datepicker .react-datepicker__month-container {
    width: 67% !important;
  }

  .custom-datepicker .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 2.5vw !important;
    line-height: 3vw !important;
  }

  .contact-time-text {
    font-size: 1vw;
  }
}


@media (min-width: 768px) and (max-width: 1280px) {
  .modal-dialog.modal-dialog-centered.modal-fullscreen {
    width: 100% !important;
  }

  .contact-backdrop .form-height-modal .connect .long-content {
    font-size: 1.3vw !important;
  }

  .contact-backdrop .form-height-modal .connect .box-title {
    font-size: 2vw;
  }

  .contact-backdrop .modal-fullscreen .modal-body {
    padding: 0;
  }

  .contact-backdrop label.form-label.text-dark {
    font-size: 1.5vw;
  }

  .contact-backdrop .form-control {
    font-size: 0.7rem;
  }

  .contact-backdrop span.form-check-label {
    font-size: 0.7rem;
  }

  .clockIcon,
  .calendarIcon,
  .globalIcon,
  .videoIcon {
    /* width: 1vw; */
    /* height: 1vw; */
    font-size: 2vw;
  }

  .custom-datepicker .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 3vw !important;
  }

  .custom-datepicker .react-datepicker__navigation--previous {
    left: 3vw !important;
  }

  .custom-datepicker .react-datepicker__month-container {
    width: 100% !important;
  }

  .custom-datepicker .react-datepicker__time-container {
    width: 100% !important;
  }

  .contact-time-text {
    font-size: 1.1vw;
  }


  .calendarIcon {
    font-size: 25px;
  }


  .text-vertical-box {
    justify-content: start;
  }

  .image-checkbox-label {
    font-size: 1rem;
  }
}


@media (min-width: 320px) and (max-width: 768px) {

  .form-height-modal {
    padding-bottom: 10px;
  }

  .contact-backdrop .modal-fullscreen {
    width: 100% !important;
    padding: 10px;
  }

  .contact-backdrop .modal-fullscreen .top-title {
    font-size: 6vw;
    margin: 0;
  }

  .model-header-title-width {
    width: 100%;
  }

  .contact-backdrop .modal-fullscreen .modal-body {
    padding: 0;
  }

  .image-checkbox-label {
    font-size: 0.8rem;
    padding: 0.7rem 0rem;
  }

  .checkbox-image {
    width: 20px;
    height: 20px;
  }

  .text-vertical-box {
    transform: rotate(0deg);
    width: 100%;
    margin: 10px 0;
  }

  .text-vertical-box img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
  }

  .vertical-text {
    margin: 0;
  }

  .clockIcon,
  .globalIcon,
  .videoIcon {
    width: 5vw;
    height: 6vw;
  }

  .calendarIcon {
    width: 5vw;
    height: 6vw;
  }


  .contact-backdrop .form-height-modal .connect .long-content {
    font-size: 3.8vw;
  }

  .custom-datepicker .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 9vw !important;
    line-height: 7.7vw !important;
  }

  .custom-datepicker .react-datepicker__month-container {
    width: 100% !important;
  }

  .custom-datepicker .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 3vw !important;
  }

  .custom-datepicker .react-datepicker__time-container {
    border: none !important;
    width: 100% !important;
  }

  .success-messege {
    width: 100%;
    margin-bottom: 4vw;
  }


  svg.videoIcon2 {
    font-size: 6vw;
  }

  .contact-time-text {
    font-size: 3vw;
  }
}