@font-face {
  font-family: "Lato-Regular";
  src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-bold";
  src: url("./assets/fonts/Lato-Bold.ttf");
}

/* Small tablets and large phones (426px to 600px) */
@media (min-width: 320px) and (max-width: 991px) {
  .box-row {
    flex-direction: column;
    gap: 2rem;
    margin: 0;
  }

  .expandable-box {
    width: 100%;
    min-height: auto;
    height: auto;
    padding: 10px;
    box-shadow: 0px 2px 17px 0px #cdcdcd;
  }

  #pattern {
    top: -24vw;

    right: 0;
  }

  .box-content {
    width: 100%;
  }

  #header {
    background-color: rgb(255 255 255 / 0%);
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 4rem;
    margin-right: 0;
  }

  .logo {
    display: none;
  }

  .navItems,
  .navBtn {
    display: none;
  }

  .desktop-only {
    display: none !important;
  }

  .mobile-logo {
    display: block;
    height: 2.5rem;
  }

  .mobile-logo img {
    height: 85%;
    width: auto;
  }

  .mobile-menu-icon {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    cursor: pointer;
    /* z-index: 1001; */
  }

  .mobile-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: -2rem;
    right: -110%;
    width: 100%;
    height: 100vh;
    background-color: white;
    transition: right 0.3s ease-in-out;
    padding: 2rem;
    z-index: 1000;
  }

  .mobile-menu.open {
    right: -1rem;
  }

  .close-icon {
    align-self: flex-end;
    font-size: 8vw;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  .mobile-navItem {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #121212;
  }

  #hero {
    flex-direction: column;
    align-items: center;
    background-size: auto;
    height: auto;
    background-position: top;
  }

  #edenText {
    padding: 28px 1.25rem 0 1.25rem;
  }

  /* #hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    height: 72vh;
  } */

  /* Make sure your content inside hero-section is above the overlay */
  #hero > * {
    position: relative;
    z-index: 2;
  }

  #infinity-logo-transparent {
    display: none;
  }

  #contentSection {
    width: 100%;
    padding: 2rem 1rem;
    margin-bottom: 0;
    margin-top: 15vh;
  }

  .top-title {
    font-size: 1.5rem;
    margin-top: 0;
    font-family: "Lato-bold";
  }

  .top-title span {
    font-family: "Lato-bold";
    color: #fff;
  }

  .long-content {
    font-size: 20px;
    margin-top: 0;
    width: 100%;
    margin-bottom: 7vw;
  }

  #hero .long-content {
    color: #fff;
  }

  .box-content .long-content {
    font-size: 13px;
  }

  .webBtn {
    font-size: 15px;
    padding: 0 10px;
    height: 40px;
  }

  .btn-icon {
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    margin-left: 10px !important;
  }

  .flowers {
    left: -1rem;
    bottom: -4rem;
  }

  .search-container {
    width: 90%;
    height: 58px;
    padding: 10px;
    margin: 30px 0;
  }

  .search-input {
    font-size: 1rem;
  }

  /* Placeholder styling */
  .search-input::placeholder {
    font-size: 0.7rem;
  }

  .w-letter::after {
    width: 10px;
    height: 10px;
    left: 0.6rem;
    bottom: -2px;
  }

  .a-letter::before {
    width: 10px;
    height: 10px;
    left: 0.3rem;
    top: -1.3rem;
  }

  .d-letter::before {
    width: 10px;
    height: 10px;
    left: 1.3rem;
    top: -0.3rem;
  }

  .d-letter::after {
    width: 8rem;
    height: 3rem;
    left: -2rem;
    top: -3.4rem;
  }

  .edenText-title {
    font-size: 14.6vw;
  }

  .edenText-subtext {
    font-size: 2vw;
  }

  .leaf img {
    width: 300px;
    padding-top: 30px;
}

  #about-row {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .line-wrapper {
    display: none;
  }

  #about {
    padding: 0 1rem;
    display: none;
  }

  #about-left {
    padding: 1rem 0px;
  }

  .founder {
    width: 24rem;
  }

  #about-title {
    font-size: 3rem;
  }

  #infinity-about {
    width: 6rem;
  }

  #brands {
    padding: 8vw 0 0 0 !important;
  }

  .title {
    font-size: 30px;
  }

  .brand-logo {
    margin: 0;
    height: 6rem;
  }

  .brands-slide {
    gap: 0rem;
    margin: 6vw 0;
  }

  #services {
    padding: 0 1rem;
  }

  #services {
    padding: 2rem 1rem;
  }

  #services-header {
    position: relative;
  }

  #services .title {
    font-size: 5.9vw;
  }

  #services .long-content-medium {
    font-size: 4vw;
  }

  .side-leaves {
    height: 200px;
    left: -5vw;
    top: -110px;
  }

  .footer-address,
  .footer-contact {
    font-size: 13px;
  }

  .footer-heading {
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }

  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.3;
  }

  .custom-footer .logo {
    width: 300px;
    margin-bottom: 10px;
  }

  .footer-text {
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
  }

  .index-badge {
    color: #000;
    width: 12.5vw;
    height: 12.5vw;
    font-size: 6vw;
  }

  .box-title {
    font-size: 1.2rem !important;
  }

  .box-content .box-btn .webBtn {
    height: 40px;
  }

  #contact .edenText-title {
    font-size: 3rem;
    text-align: center;
    line-height: 1.4;
  }

  #contact .decorative-image {
    display: none;
  }

  #contact .solution-text {
    flex-direction: column;
    gap: 0;
    margin: 0;
  }

  #contact .a-letter::before {
    background: var(--secondary);
    top: 0.7rem;
    left: 0.6rem;
  }

  #contact .webBtn {
    height: 3.5rem;
    font-size: 1.2rem;
    margin-right: 0;
  }

  #contact .side-leaves2 {
    display: none;
  }

  img.dotted {
    height: auto;
  }

  #features {
    padding: 0;
  }

  .footer-container {
    height: auto;
    padding: 2rem 1rem;
  }

  .custom-footer {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-col {
    min-width: 100%;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    gap: 1rem;
    padding-top: 12vw;
  }

  .footer-bottom .socials {
    justify-content: flex-start;
  }

  footer .logo {
    display: block;
  }

  #infinity-logo-transparent-about {
    width: 22rem;
  }

  .person-about-business {
    position: absolute;
    width: 100%;
    bottom: 21rem;
    left: 10px;
    display: none;
  }

  .person-info .name,
  .person-info-round .name {
    font-size: 3vw;
  }

  .designation {
    font-size: 2.8vw;
  }

  .person-info .person-image {
    width: 20vw;
    height: 25vw;
  }

  .person-info-round .person-image {
    width: 23vw;
    height: 25vw;
  }
}

/* Medium laptops (1025px to 1280px) */
@media (min-width: 992px) and (max-width: 1200px) {
  p.edenText-subtext {
    font-size: 0.9rem;
  }
  .person-info .person-image {
    width: 75px;
  }
  .person-info-round .person-image {
    width: 85.5px;
    height: 90px;
  }

  #about-left {
    padding: 0 2rem;
  }


  .founder {
    border-radius: 10px;
    width: 30vw;
  }

  #header {
    margin-right: 2rem;
  }

  #header .navItem {
    font-size: 1.2vw;
    width: 7.5vw;
  }

  .webBtn {
    font-size: 1.2vw;
    letter-spacing: 1px;
    padding: 0px 1vw;
  }

  #contact .decorative-image {
    width: 195px;
    height: auto;
  }

  #header .navItems {
    gap: 1vw;
  }

  #contentSection {
    padding: 0 4vw;
    margin-bottom: 6rem;
    width: 54vw;
  }

  .top-title {
    font-size: 1.74vw;
    margin: 0;
  }

  .logo {
    width: 44vw;
  }

  .search-container {
    width: 34.167vw;
    height: 3.75vw;
    box-shadow: 1px 1px 4px 0px #00000040, 0px -5px 4px 0px #00000005;
  }

  .search-icon {
    width: 19px;
    height: 19px;
  }

  #infinity-about {
    width: 9vw;
  }

  .line-wrapper {
    position: absolute;
    height: 80vh;
    top: 65%;
  }

  #brands {
    padding: 5rem 0;
  }

  .brands-slide {
    gap: 3rem;
    margin: 2rem 0;
  }

  .box-content .long-content {
    font-size: 1vw;
  }

  #services {
    padding-top: 0;
  }

  .side-leaves {
    top: -72px;
  }

  .expandable-box {
    min-height: 20.5vw;
  }

  .box-content .box-btn .webBtn {
    height: 6vh;
  }

  #contact .edenText-title {
    color: var(--primary);
    font-size: 6vw;
    margin: 0;
    letter-spacing: 2px;
  }

  .title {
    font-size: 3vw;
  }

  .brand-logo {
    height: 10vw;
  }

  .a-letter::before {
    left: 2vw;
    top: 2vw;
    width: 18px;
    height: 18px;
  }

  #contact .a-letter::before {
    top: 1.2vw;
    left: 1.3vw;
    width: 12px;
    height: 12px;
  }

  .w-letter::after {
    width: 18px;
    height: 18px;
    left: 1.7vw;
    bottom: -4px;
  }

  .d-letter::before {
    width: 18px;
    height: 18px;
    left: 3.4vw;
    top: 0;
  }

  .d-letter::after {
    width: 14vw;
    height: 4vw;
    left: -2.5vw;
    top: -4vw;
  }

  #contact .solution-text {
    /* margin: 2rem 0 4rem; */
  }

  #contact .webBtn {
    height: 4rem;
    padding: 0px 1rem !important;
    font-size: 1.8vw;
  }

  .footer-text {
    font-size: 1.2vw;
    line-height: 1.5;
  }

  .footer-links a,
  .footer-address,
  .footer-contact {
    font-size: 1.2vw;
  }

  .footer-heading {
    font-size: 1.4vw;
  }

  .custom-footer {
    gap: 4vw;
  }

  .footer-col {
    flex: 1 1 17vw;
    min-width: 17vw;
  }
}

/* Large desktops (1281px to 1440px) */
@media (min-width: 1201px) and (max-width: 1440px) {
  .w-letter::after {
    width: 17px;
    height: 17px;
    left: 2vw;
  }

  #header {
    width: 68vw;
    height: 8vh;
    margin-right: 0;
    padding: 0;
    padding-right: 10px;
  }

  .webBtn {
    font-size: 1.2vw;
    letter-spacing: 1px;
    height: 6vh;
    padding: 0px 1vw;
  }

  #contact .decorative-image {
    width: 195px;
    height: auto;
  }

  #header .navItems {
    gap: 1vw;
  }

  #contentSection {
    padding: 0 4vw;
    margin-bottom: 7rem;
    width: 50vw;
  }

  .top-title {
    font-size: 1.74vw;
    margin: 0;
  }

  .logo {
    width: 40vw;
  }

  /* .search-container {
    width: 34.167vw;
    height: 3.75vw;
    box-shadow: 1px 1px 4px 0px #00000040, 0px -5px 4px 0px #00000005;
  } */

  .search-icon {
    width: 24px;
    height: 24px;
  }

  #infinity-about {
    width: 9vw;
  }

  .line-wrapper {
    position: absolute;
    height: 100vh;
    top: 65%;
  }

  #contact .a-letter::before {
    top: 1.3vw;
  }

  .box-content .long-content {
    font-size: 1vw;
  }

  #services {
    padding-top: 0;
  }

  .side-leaves {
    top: -72px;
  }

  .expandable-box {
    min-height: 20.5vw;
  }

  .box-content .box-btn .webBtn {
    height: 6vh;
  }

  #contact .edenText-title {
    color: var(--primary);
    font-size: 6vw;
    margin: 0;
    letter-spacing: 2px;
  }

  .a-letter::before {
    left: 2vw;
    top: 2.5vw;
    height: 17px;
    width: 17px;
  }

  .d-letter::before {
    width: 17px;
    height: 17px;
    left: 3.5vw;
    top: 0.5vw;
  }

  .d-letter::after {
    width: 13vw;
    height: 4vw;
  }

  #contact .webBtn {
    height: 4rem;
    padding: 0px 1rem !important;
    font-size: 2.3vw;
  }

  .footer-text {
    font-size: 1.2vw;
    line-height: 1.5;
  }

  .footer-links a,
  .footer-address,
  .footer-contact {
    font-size: 1.2vw;
  }

  .footer-heading {
    font-size: 1.4vw;
  }

  .custom-footer {
    gap: 4vw;
  }

  .footer-col {
    flex: 1 1 17vw;
    min-width: 17vw;
  }
}

/* Extra large desktops (1441px to 1920px) */
@media (min-width: 1441px) and (max-width: 1920px) {
  .line-wrapper {
    height: 80vh;
    right: 25%;
  }
  .view {
    top: -0.5rem;
  }

  #search .dots {
    right: 12.5vw;
    bottom: 1.6vw;
  }

  #header {
    width: 68vw;
    height: 9vh;
    margin-right: 0;
 
  }

  .webBtn {
    font-size: 1vw;
    letter-spacing: 1px;
    height: 6vh;
    padding: 0px 1vw;
  }

  #header .navItems {
    gap: 1vw;
  }

  .a-letter::before {
    top: 2.5vw;
  }

  .d-letter::before {
    left: 3.5vw;
    top: 6px;
  }

  .d-letter::after {
    width: 15vw;
    height: 4rem;
    left: -3vw;
    top: -60px;
  }

  #contentSection {
    padding: 0 4vw;
    margin-bottom: 7rem;
    width: 50vw;
  }

  .top-title {
    font-size: 1.74vw;
    margin: 0;
  }

  .logo {
    width: 40vw;
  }

  .search-container {
    width: 34.167vw;
    height: 3.75vw;
    box-shadow: 1px 1px 4px 0px #00000040, 0px -5px 4px 0px #00000005;
  }

  .search-icon {
    width: 24px;
    height: 24px;
  }

  #infinity-about {
    width: 9vw;
  }

  /* .line-wrapper {
    position: absolute;
    height: 100vh;
    right: 25vw;
    top: 30vh;
  } */

  .custom-footer .logo {
    width: 14vw;
    margin-bottom: 1vw;
  }

  .box-content .long-content {
    font-size: 1vw;
  }

  #services {
    padding-top: 0;
  }

  .side-leaves {
    top: -72px;
  }

  .expandable-box {
    min-height: 20.5vw;
  }

  .box-content .box-btn .webBtn {
    height: 6vh;
  }

  #contact .edenText-title {
    color: var(--primary);
    font-size: 6.5rem;
    margin: 0;
  }

  /* .footer-text {
    font-size: 1.2vw;
    line-height: 1.5;
  } */
  /* .footer-links a,
  .footer-address,
  .footer-contact {
    font-size: 1.2vw;
  } */
  .footer-heading {
    font-size: 1.4vw;
  }

  .custom-footer {
    gap: 4vw;
  }

  .footer-col {
    flex: 1 1 17vw;
    min-width: 17vw;
  }
}

/* Ultra wide screens (1921px and up) */
@media (min-width: 1921px) {
  #header {
    width: 68vw;
    height: 8vh;
  }

  .webBtn {
    font-size: 1.2vw;
    letter-spacing: 1px;
    height: 6vh;
    padding: 0px 1vw;
  }

  .search-container {
    width: 34.167vw;
    height: 3.75vw;
    box-shadow: 1px 1px 4px 0px #00000040, 0px -5px 4px 0px #00000005;
  }

  .search-icon {
    width: 2rem;
    height: 2rem;
  }

  #services {
    padding-top: 0;
  }

  .expandable-box {
    min-height: 20.5vw;
  }

  .box-content .box-btn .webBtn {
    height: 6vh;
  }
  .line-wrapper {
    right: calc((100vw - 1921px) / 2 + 480.25px); /* 25% of 1921px is ~480.25 */
  }
}
